.box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  box-shadow: 0px 30px 40px -10px rgba(0, 0, 0, 0.3),
    0px -30px 40px -10px rgba(0, 0, 0, 0.3),
    30px 0px 40px -10px rgba(0, 0, 0, 0.3),
    -30px 0px 40px -10px rgba(0, 0, 0, 0.3);

  background-color: #404040;
}

.timer {
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.field:not(:last-child) {
  margin-right: 20px;
}

.value {
  font-size: 36px;
  line-height: 1.12;
  text-align: center;
}

.label {
  text-align: center;
}
